---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const apps = (await getCollection('app')).filter((a: any) => a.data.isPublic === true).sort(
		(a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
			}

			ul li {
				margin: 0 0 1rem 0;
				max-width: 300px;
			}

			ul li a {
				display: block;
				text-decoration: none;
				transition: 0.2s ease;
				border: 1px solid var(--accent);
				border-radius: 12px;
				padding: 1rem;

				

				&:hover {
					transform: translateX(0.5rem);
					box-shadow: var(--box-shadow);
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, there!</h1>
			<p>
				Welcome at <strong>Innowarmth</strong>, on this website you can find a lot of information about our company and the 
				products we offer.
			</p>
			<p>
				Feel free to have a look at our <a href="/apps">apps</a> 
				<section>
					<ul>
						{
							apps.map((app: { slug: any; data: { heroImage: string | null | undefined; name: unknown; baseline: unknown; }; }) => (
								<li>
									<a href={`/apps/${app.slug}/`}>
										<img width={300} src={app.data.heroImage} alt="" />
										<h4 class="title">{app.data.name}</h4>
										<label>{app.data.baseline}</label>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</p>
		</main>
		<Footer />
	</body>
</html>
